/* colors */
$white-color:#e5e5e5;
$purple-color:#3E50B4;
$teal-color:#26A69A;
$home-color:#505962;
$blue-color:#247BA0;
$red-color:#EF5350;
$green-color:#2A9D8F;
$accent-color:#FF3F80;

/* Breakpoints */
$tablet: 768;
$large: 1024;
$desktop: 1280;