@import "variables";
@import "mixins";
@import "utilities";
@import "form";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
  content-visibility: auto;
}

a {
  text-decoration: none;
  color: $white-color;
}
.section-heading {
  font-size: 2.5rem;
  font-weight: 600;
  text-align: center;
  display: inline-block;
  color: $white-color;
  text-shadow: 7px 6px 3px #333, 1px 1px 2px #999;
}
/* nav */
nav {
  position: fixed;
  width: 100%;
  top: 0;
  display: flex;
  font-weight: 600;
  flex-direction: column;
  padding: 0.8rem;
  text-transform: uppercase;
  background: #1a1a1a;
  align-items: center;
  color: $white-color;
  @include tablet {
    flex-direction: row;
    justify-content: space-between;
  }
  .nav-brand {
    font-size: 2rem;
    letter-spacing: 0.1rem;
    line-height: 30px;
    margin-bottom: 0.5rem;
  }
  .nav-links {
    display: flex;
    justify-content: space-evenly;
    a {
      color: #b5ae9f;
      padding: 0rem 0.5rem;
      &:hover {
        color: $white-color;
      }
    }
  }
}
section {
  background-color: $home-color;
  padding-top: 5rem;
  min-height: 80vh;
  @include tablet {
    padding-top: 3.125rem;
  }
}
/* Home */
section#home {
  padding-top: 0;
  min-height: 80vh;
  @include flex-center-column;
  background-color: $home-color;
  color: #f1d1b1;
  h1 {
    font-size: 1.5rem;
    font-weight: 400;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: 0.1em solid #333; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: 0.15em; /* Adjust as needed */
    animation: typing 3.5s steps(40, end), blink-caret 0.75s step-end infinite;
    @include tablet {
      font-size: 3rem;
    }
  }
  h2 {
    @include tablet {
      font-size: 1.8rem;
    }
    letter-spacing: 0.2rem;
    word-spacing: 0.1rem;
    font-size: 1.25rem;
  }
}

/* About Me */
section#about {
  .content {
    padding: 1rem;
    border: 1px dashed $white-color;
    @include tablet {
      padding: 2rem;
    }
    img.avatar {
      height: 300px;
      width: 280px;
      max-width: 100%;
      @include tablet {
        float: left;
      }
      shape-outside: url("../assets/images/avatar_tie.png");
    }
    p {
      color: $white-color;
      font-size: 1.2rem;
      margin-bottom: 0.5rem;
      span.hidden {
        display: none;
        @include tablet {
          display: inline;
        }
      }
    }
    .social-icons {
      border-top: 1px dashed $white-color;
      margin-top: 1rem;
      padding-top: 1rem;
    }
  }
}

.social-icons {
  padding: 0.3rem;
  @include flex-center;
  a {
    @include flex-center;
    @include box(30px);
    color: $home-color;
    border-radius: 50%;
    background: $white-color;
    margin: 0 0.3rem;
    &:hover {
      color: $accent-color;
    }
  }
  img {
    width: 20px;
    height: 20px;
  }
}
/* Projetcs */
.projects {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: 1fr;
  grid-gap: 2rem;
  @include tablet {
    grid-template-columns: repeat(2, 1fr);
  }
  .project {
    .header {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      color: #b5ae9f;
      padding: 0 0.5rem;
      .title {
        color: $white-color;
        font-size: 1.5rem;
        font-weight: 600;
      }
    }
    .card {
      border-radius: 0.5rem;
      background: $home-color;
      overflow: hidden;
      width: 100%;
      box-shadow: 11px 11px 32px #2e3338, -11px -11px 32px #727f8c;

      img {
        width: 100%;
        height: 225px;
        max-height: 250px;
      }
      .link {
        background: #1a1a1a;
        padding: 0.4rem 0.5rem;
        margin-top: -4px;
        display: block;
        color: #b5ae9f;
      }
      .info {
        padding: 0.4rem 0.5rem;
        color: $white-color;
      }
      .btn-container {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        padding: 0.2rem 1rem;
        gap: 0.5rem;
        justify-content: center;
      }

      .btn-container a.btn {
        padding: 0.3rem 0.5rem;
        background: $blue-color;
        color: white;
        border-radius: 5px;
        text-transform: uppercase;
        font-size: small;
        font-weight: bold;
        text-align: center;
        letter-spacing: 1px;
        @include tablet{
          padding:.3rem 1.5rem;
        }
      }

      .btn-container a.btn:hover {
        box-shadow: 0px 0px 0px 1px currentColor;
        backdrop-filter: contrast(1.5);
      }
    }
  }
}

/* Contact */
section#contact {
  padding-bottom: 1rem;
  .flex {
    display: flex;
    align-items: center;
    hr {
      flex-grow: 1;
    }
    p {
      padding: 1rem;
      font-size: 1.2rem;
      color: $white-color;
    }
  }
}
/* Footer */
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  background-color: darken($color: $home-color, $amount: 30%);
  color: $white-color;
  img {
    @include box(30px);
  }
}

@import "mobile";
@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0ch;
  }
  to {
    width: 25ch;
  }
}
